.item {
    display: inline-block;
    width: 370px;
    margin-right: 17.3px;
}
.item__title {
    width: 369px;
    text-align: center;
    font-size: 24px;
    font-family: Open Sans;
    line-height: 100px;
}
.item__description {
    font-family: Raleway;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.item_image {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    display: block;
}
.content-awesome {
    margin-bottom: 58px;
}


