*{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
}
.header {
    width: 100%;
    background-color: #000;
}
.footer {
    width: 100%;
    background-color: #000000;
}
.title-block__separator {
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}
.container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-block {
    display: flex;
    justify-content: center;
    align-content: center;
}
.title-block__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    height: 150px;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}
.title-block__subtitle {
    color: #86878B;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 71px;
    font-family: Raleway;
}
.customer-data__position {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}
@media screen and (max-width: 1170px) {
    .title-block__title {
        font-size: 24px;
        height: 120px;
    }
    .title-block__separator {
        margin-bottom: 32px;
    }
    .title-block__subtitle {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 32px;
    }
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 1005px) {
    .title-block__title {
        font-size: 18px;
        height: 120px;
        width: 288px;
    }
    .title-block__separator {
        margin-bottom: 25px;
    }
        .title-block__subtitle {
            font-size: 13px;
            margin-bottom: 50px;
            width: 288px;
        }
}
@media screen and (max-width: 312px) {
    .title-block__title {
        width: 100%;
    }
        .title-block__subtitle {
            width: 100%;
        }
}