.contact-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-data__input-space {
    color: #777777;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    border: none;
    width: 571px;
    border-bottom: 1px solid #BDBDBD;
    outline: none;    
    padding-bottom: 16px;
}
.contact-data__input-space::placeholder {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}
.contact-form__button {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    width: 370px;
    height: 58px;
    background-color: #EC7979;
    border: none;
    margin: 0 auto;
    margin-bottom: 50px;
}
.contact-form__button:hover {
    cursor: pointer;
}
.contact-box__message {
    width: 569px;
    color: #777777;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    margin-left: 30px;
    height: 214px;
}
.contact-box__message::placeholder {
    color: #BDBDBD;
    font-family: Open Sans;
    font-weight: 400;
}

@media screen and (max-width: 1170px) {
    .contact-data__input-space {
        width: 486px;
    }
    .contact-box__message {
        width: 486px;
    }
    .contact-form__button {
        font-weight: 600;
        width: 318px;
    }
}
@media screen and (max-width: 1005px) {
    .contact-box {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .contact-data__input-space {
        width: 288px;
        margin-bottom: 50px;
    }
    .contact-box__message {
        width: 288px;
        margin-left: 0;
    }
    .contact-form__button {
        width: 288px;
        height: 50px;
    }
    .title-block__title_font-size {
        font-size: 24px;
    }
}
@media screen and (max-width: 312px) {
    .contact-data__input-space {
        width: 100%;
    }
    .contact-box__message {
        width: 100%;
    }
    .contact-form__button {
        width: 100%;
    }
}