.media_background {
    width: 100%;
    background: #F8EFEF;
}
.container-media {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    padding-bottom: 18px;
}
.media-text {
    width: 470px;
    display: flex;
    flex-direction: column;
}
.media-text__title {
    display: flex;
    align-items: center;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    margin-bottom: 18px;
}
.media-text__description {
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}
.media-image {
    width: 670px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}
.media-image__icon {
    width: 70px;
    height: 70px;
    align-items: center;
}
@media screen and (max-width: 1170px) {
    .container-media {
        width: 95%;
    }
    .media-text__title {
        font-size: 18px;
        height: 45px;
        margin-bottom: 13px;
    }
    .media-text__description {
        font-size: 14px;
        font-weight: 400;
    }
    .media-image {
        width: 570px;
        height: 105px;
        margin-left: 20px;
    }
    .media-image__icon {
        width: 64px;
        height: 64px;
    }
    
}
@media screen and (max-width: 559px) {
    .container-media {
        flex-direction: column;
        align-items: center;
        padding-bottom: 44px;
    }
    .media-text {
        width: 100%;
        align-items: center;
        margin-bottom: 32px;
    }
    .media-text__title {
        font-size: 18px;
        margin-bottom: 13px;
        margin-top: 31px;
    }
    .media-text__description {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    .media-image {
        width: 286px;
        height: 26px;
        margin-left: 0;
    }
    .media-image__icon {
        width: 26px;
        height: 26px;
    }
}
@media screen and (max-width: 305.6px) {
    .media-image {
        width: 95%;
    }
}