.container-menu-top {
    display: flex;
    width: 95%;
    height: 75px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center ;
}
.menu-top__button {
    width: 113.779px;
    display: flex;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-family: Open Sans;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.menu-top {
    display: flex;
    height: 75px;
    margin-right: 170px;
}
.logo {
    margin-left: 115.28px;
    width: 183.099px;
}
.logo__image {
    height: 74.854px;
}
.container-menu-top__burger-menu {
    background-image: url("../images/burger\ menu.svg");
    width: 24px;
    height: 18px;
    align-items: center;
    border: none;
    background-color: transparent;
    display: none;
}
@media screen and (max-width:1190px) {
    .menu-top {
        margin-right: 20px;
    }
    .container-menu-top {
        width: 100%;    
    }
}
@media screen and (max-width: 883px){
    .menu-top {
        display: none;
    }
    .container-menu-top__burger-menu {
        display: flex;
        margin-right: 19.5px;
    }
    .logo {
        margin-left: 20px;
    }
}