.pricing_background{
    background-color: #F5F5F5;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.title-block {
    justify-content: center;
    align-content: center;
}
.content-price {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}
.block-price {
    width: 370px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}
.block-price__name-product {
    color: #FFF;
    font-family: Open Sans;
    height: 60px;
    border: 2px solid #F5F5F5;
    background: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-price__cost-product {
    font-family: Raleway;
    border: 2px solid #F5F5F5;
    background: #333;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-price__description {
    font-family: Raleway;
    border: 2px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-price__space {
    font-family: Raleway;
    border: 2px solid #F5F5F5;
    background: #FFF;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-price_up:hover {
    margin-top: -20px;
}
@media screen and (max-width: 1190px) {
    .content-price {
        width: 100%;
        justify-content: space-around;
    }
    .container_pricing-width {
        width: 100%;
    }    
    .block-price__name-product {
        height: 53.208px;
    }
    .block-price__cost-product {
        height: 88.679px;
    }
    .block-price__description {
        height: 44.34px;
    }
    .block-price__space {
        height: 44.34px;
    }
    .block-price {
        width: 317px;
    }
}
@media screen and (max-width: 1005px) {
    .block-price__name-product {
        height: 47.059px;
        font-size: 18px;
    }
    .block-price__cost-product {
        height: 78.431px;
        font-size: 24px;
    }
    .block-price__description {
        height: 39.216px;
        font-size: 14px;
    }
    .block-price__space {
        height: 39.216px;
        font-size: 14px;
    }
    .block-price {
        width: 288px;
        margin-bottom: 27px;
    }
    .content-price {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .block-price_up:hover {
        margin-top: 0;
    }
    .pricing_background {
        padding-bottom: 0;
        padding-top: 0;
    }
}
@media screen and (max-width: 308px) {
    .block-price {
        width: 100%;
    }
}